* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-display);
}

html {
  text-size-adjust: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: bisque;
  width: auto;
  overflow-x: hidden;
}

header {
  background-color: #373636;
  color: white;
  width: 100%;
  height: 70px;
  flex-direction: row-reverse;
  position: fixed;
  z-index: 500;
}

.logo {
  float: left;
  margin-top: -6px;
  margin-left: 50px;
  width: 80px;
  height: 80px;
}

.logo a img {
  color: white;
  width: 100%;
  height: 100%;
}

.instagram {
  float: right;
  margin-top: -2px;
  margin-right: 50px;
}

.instagram a img {
  color: white;
  font-size: 1.5em;
  width: 75px;
  height: auto;
}

main {
  display: flex;
  flex-direction: row;
  min-height: 500px;
  position: relative;
  padding-top: 7%;
  padding-left: 4%;
  padding-right: 4%;
}

h1,
h2 {
  color: #333;
  margin-bottom: 10px;
}

h1 {
  font-size: 2em;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

.citacao-bonita {
  font-style: italic;
  color: #888;
  border-left: 4px solid #ddd;
  padding-left: 10px;
  margin: 20px 0;
}

.btn-contato {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 5px;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.instagram-btn {
  background-color: #e1306c;
}

.whatsapp-btn {
  background-color: #25d366;
}

.contato {
  text-align: center;
  margin-top: 30px;
}

.contato h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.contato p {
  font-size: 1.2em;
}

.restaurante-img {
  width: 500px;
  height: auto;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  margin-top: 30px;
}

.restaurante-img img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/16;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 2s ease-in-out;
}

.conteudo {
  display: flex;
  flex-direction: column;
}

.card {
  max-width: 240px;
  max-height: 240px;
  margin: 20px 0;
  padding: 20px;
  background-color: rgb(236, 232, 225);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.entrada {
  background-color: #e4d89d;
  width: 100%;
  height: 700px;
}

.entrada .flor {
  width: 10vw;
  height: auto;
  margin-left: 90vw;
  margin-top: 3vh;
  position: absolute;
}

.entrada .flor2 {
  width: 10vw;
  height: auto;
  margin-left: 1vw;
  margin-top: 76vh;
  position: absolute;
}

.entrada .molde {
  width: 40vw;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.entrada .logoEntrada {
  width: 28vw;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 10%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #333;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: wheat;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: whitesmoke;
}

::-webkit-scrollbar-button {
  display: none;
}

/* Media Queries para responsividade */
@media (max-width: 1200px) {
  .entrada .flor {
    width: 10vw;
    margin-left: 90vw;
    margin-top: 6vh;
  }

  .entrada .flor2 {
    width: 10vw;
    margin-left: 1vw;
    margin-top: 76vh;
  }

  .entrada .molde {
    width: 40vw;
  }

  .entrada .logoEntrada {
    width: 28vw;
  }

  .restaurante-img {
    max-width: 100%;
    height: auto;
  }

  .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  main {
    flex-direction: column;
    padding-top: 80px;
  }

  .restaurante-img {
    float: none;
    margin: 0 auto 20px;
  }
}

@media (max-width: 768px) {
  header {
    height: 60px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .instagram a img {
    width: 60px;
  }

  .entrada .flor {
    width: 10vw;
    margin-left: 90vw;
    margin-top: 6vh;
  }

  .entrada .flor2 {
    width: 10vw;
    margin-left: 1vw;
    margin-top: 88vh;
  }

  .entrada .molde {
    width: 40vw;
  }
  .entrada .logoEntrada {
    width: 28vw;
  }

  .restaurante-img {
    max-width: 100%;
    height: auto;
  }

  .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  main {
    flex-direction: column;
    padding-top: 80px;
  }

  .restaurante-img {
    float: none;
    margin: 0 auto 20px;
  }
}

@media (max-width: 480px) {
  header {
    height: 50px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .instagram a img {
    width: 50px;
  }

  .entrada .flor {
    width: 10vw;
    margin-left: 90vw;
    margin-top: 6vh;
  }

  .entrada .flor2 {
    width: 10vw;
    margin-left: 1vw;
    margin-top: 88vh;
  }

  .entrada .molde {
    width: 40vw;
  }

  .restaurante-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  main {
    flex-direction: column;
  }

  .restaurante-img {
    float: none;
    margin: 0 auto 20px;
  }
}
